<footer class="footer">
  <div class="container align-items-center">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-footer justify-content-center">
          <li class="nav-item">
            <a routerLink="/post-announcement" class="nav-link">
              <i class="ni ni-bell-55 display-4"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12">
        <div class="copyright text-center text-muted">
          &copy; {{ test | date: "yyyy" }} <a class="font-weight-bold ml-1">Created by Magenta</a>
        </div>
      </div>

    </div>
  </div>
</footer>