.nav-item {
  cursor: pointer;
}

.navbar-top {
  position: fixed !important;
}
.avatar-notif {
  object-fit: cover;
  object-position: top;
  height: 35pt;
  width: 35pt;
  border-radius: 100%;
}
.ic {
  top: -2pt;
}
.badge-danger {
  background: red;
  position: relative;
  top: -9pt;
  left: 11pt;
  padding-right: 4pt;
  color: white;
  border-radius: 20% !important;
}
.badge-danger:hover {
  cursor: default;
}
.dropdown-item{
  cursor: pointer !important;
}
.scroll {
  height: 65vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}


/* The switch - the box around the slider */
.label{
  position: absolute;
  top: 31pt;
  right: 0pt;
  left: 38pt;
}
.switch {
  position: relative;
  display: flex;
  width: 30px;
  height: 17px;
  margin-right: 5pt;
  justify-content: center;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.unread{
  background-color: white;

}
.readed{
  background-color: #EDF2FA;
}
