.nav-item {
  cursor: pointer;
}

.navbar-top {
  position: fixed !important;
}
.avatar-notif {
  object-fit: cover;
  object-position: top;
  height: 35pt;
  width: 35pt;
  cursor: pointer !important;
  border-radius: 100%;
}
.ic {
  top: -2pt;
}
.badge-danger {
  background: red;
  position: relative;
  top: -9pt;
  left: 11pt;
  padding-right: 4pt;
  color: white;
  border-radius: 20% !important;
}
.badge-danger:hover {
  cursor: default;
}
.dropdown-item{
  cursor: pointer !important;
}
.scroll {
  height: 65vh !important;
  overflow-y: auto;
  overflow-x: hidden;
}

.unread{
  background-color: white;

}
.read{
  background-color: #EDF2FA;
}
.label{
  font-size: 18px;
}
