<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div *ngFor="let member of members" class="col-12">
          <div class="card card-stats mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <img class="icon bg-warning text-white rounded-circle shadow" src="assets/img/theme/team-1-800x800.jpg" alt="">
                </div>
                <div class="col text-muted">
                  <h2 class="h2 font-weight-bold">{{member.firstName}} {{member.lastName}}</h2>
                  <h5 class="card-title text-uppercase mb-0">{{member.company}}</h5>
                  <span>{{member.role}}</span><br>
                  <span>{{member.email}}</span><br>
                  <span>{{member.phone}}</span>
                </div>
              </div>
              <p class="mt-2 mb-0 text-sm text-right">
                <a [routerLink]="['/register']" class="text-uppercase btn btn-primary mr-2"><i class="ni ni-send"></i> {{member.status}}</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 mb-2">
          <div class="card card-stats my-4 mb-xl-0">
            <div class="card-body">
              <span><i class="fa fa-search"></i> Who is the most handsome man in Vietnam?</span>
              <hr class="my-2">
              <span><i class="fa fa-search"></i> How to be handsome?</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>