<div style="cursor: default" class="header bg-gradient-danger py-7 pt-md-8 ">
 <!--  <form class="navbar-search navbar-search-dark form-inline mr-3 d-none d-md-flex ml-lg-auto ml-md-auto mr-md-5">
    <div class="form-group mb-0">
      <div class="input-group input-group-alternative">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input [(ngModel)]="textSearch"  (input)="getMembers(textSearch)" name="search" class="form-control"
          placeholder="Search" type="text">
      </div>
    </div>
  </form> -->
  <img [class.d-flex]="loadingSearch===false" src="https://i.gifer.com/embedded/download/ZKZg.gif" class="container d-none align-items-center  loading" alt="">
  <div class="container-fluid">
    <div [hidden]="loadingSearch===false" class="header-body">
      <!-- Card stats -->
      <div id="infinite-scroller" appInfiniteScroller scrollPercent="10" immediateCallback="true"
        [scrollCallback]="scrollCallback" class="row">
        <div [hidden]="dec == member.uuid" *ngFor="let member of members" class="col-12">
          <div class="card card-stats mb-2">
            <div class="card-body">
              <div class="row">
                <div class="col-auto">
                  <a [routerLink]="'/club-members/' + injectNumber(member['@id']) + '/info'"><img class="icon shadow"
                      [src]=member.profilePicture alt=""></a>
                </div>
                <div class="col text-muted">
                  <a [routerLink]="'/club-members/' + injectNumber(member['@id']) + '/info'">
                    <h2 class="h2 font-weight-bold">{{member.personData.name}}</h2>
                  </a>
                  <span>{{member.personData.jobTitle}}</span><br>
                  <span>{{member.personData.employerName}}</span><br>
                </div>
              </div>
              <p class="mt-2 mb-0 text-sm text-right">
                <a [routerLink]="'/club-members/' + injectNumber(member['@id']) + '/send-email'"
                  class="text-uppercase btn btn-primary text-white mr-2"><i class="ni ni-send"></i>EMAIL</a>
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-12 mb-2">
          <div class="card card-stats my-4 mb-xl-0">

          </div>
        </div> -->
      </div>
    </div>
  </div>

</div>
