<div class="pb-8 pt-8 d-flex"
  style="min-height: 1200px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container">
    <div class="row text-center">
      <div class="col col-md-12">
        <h1 *ngFor="let member of members" class="display-3 text-white">{{member.personData.name}}</h1>
      </div>
    </div>
    <div *ngFor="let member of members" class="row justify-content-center mt-6">
      <div class="col-12 col-md-5 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image " style="top:-20pt;">
                <a (click)="toClubMem()" href="javascript:void(0)">
                  <img [src]=member.profilePicture style="height: 135pt !important; width: 135pt !important;"
                    class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header border-0 pt-md-4 pb-0 pb-md-4">
            <div class="d-flex justify-content-center mt-7 mt-xl-7 mt-md-7 mb-0">
              <a hidden href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Email</a>
              <a [routerLink]="'/club-members/' + injectNumber(member['@id']) + '/send-email'">
                <div [hidden]="tokenRes" href="javascript:void(0)" class="btn btn-sm btn-default">Send Email</div>
              </a>
            </div>
          </div>
          <div class="card-body pt-md-2 ml-2">

            <!-- <div class="row">
              <div hidden class="col">
                <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                  <div>
                    <span class="heading">22</span>
                    <span class="description">Friends</span>
                  </div>
                  <div>
                    <span class="heading">10</span>
                    <span class="description">Photos</span>
                  </div>
                  <div>
                    <span class="heading">89</span>
                    <span class="description">Comments</span>
                  </div>
                </div>
              </div>
            </div> -->
            <div *ngFor="let member of members" class="d-flex flex-column text-center ">
              <h1 class="font-weight-bold ml-2">
                {{member.personData.name}}<span class="font-weight-light">, 27</span>
              </h1>
              <div class="h3">
                <i class="ni business_briefcase-24 mr-2"></i>{{member.personData.jobTitle}}
              </div>
              <div class="h3">
                <i class="ni education_hat mr-2"></i>{{member.personData.employerName}}
              </div>
              <hr class="my-2" />
              <p hidden>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                records
                all of his own music.</p>
              <a hidden href="javascript:void(0)">Show more</a>
              <label class="text-success h3">{{status}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>