<div appInfiniteScroller scrollPercent="50" immediateCallback="true" [scrollCallback]="scrollCallback"
     class="scroll header bg-gradient-danger {{title != 'Recent Announcements'?'py-7':''}} pt-md-8 ">
  <div *ngIf="title == 'Recent Announcements' " class="container mb-3 w-md-50">
    <h2 class="text-white-no-longer">{{title}}</h2>
    <!--    <div class="card py-3">-->
    <!--      <div class="card-content container">-->
    <!--        <div class="row">-->
    <!--&lt;!&ndash;          <div class="text-center col-12">&ndash;&gt;-->
    <!--&lt;!&ndash;            <button class="btn btn-primary {{incomingOnly == true?'active':''}} btn-lg"&ndash;&gt;-->
    <!--&lt;!&ndash;                    (click)="toggleIncomingMessageFilter('incoming')"><i class="fas fa-inbox"></i></button>&ndash;&gt;-->
    <!--&lt;!&ndash;            <button class="btn btn-primary {{incomingOnly == false?'active':''}} btn-lg"&ndash;&gt;-->
    <!--&lt;!&ndash;                    (click)="toggleIncomingMessageFilter('outgoing')"><i class="far fa-share-square text-lg"></i>&ndash;&gt;-->
    <!--&lt;!&ndash;            </button>&ndash;&gt;-->
    <!--&lt;!&ndash;          </div>&ndash;&gt;-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
  </div>
  <!--   (click)="open(content,delivery);delivery2=delivery;"  -->
  <div *ngFor="let message of pendingApprovalMessages;let i = index;let c = count;" class="container mb-3 w-md-50"
  routerLink="/club-members/notifications/messages/{{message.id}}"
  >
    <div>
      <div class="card py-3 read">
        <div class="card-content container">
          <div class="row">
            <div class="badge badge-warning ml-2">Pending Approval</div>

            <div class="col-12 d-flex justify-content-center col-md-2">
              <img alt="Image placeholder" class="rounded-circle" style="object-fit: cover; width: 80px; height: 80px;"
                   [src]="message.profilePicture"/>
            </div>

            <div class="col-12 col-md-8 pl-mobile-custom">
              <h2 class="font-weight-bold">
                {{message.subject}}
              </h2>
              <div style="font-size:18px !important;" class="text-truncate">{{message.body}}</div>

              <div
                class="col-12 col-md-2 d-flex justify-content-md-end justify-content-center align-items-end text-md-right">
                <small class="">{{
                    message.createdAt | date: "short"
                  }}</small>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngFor="let delivery of deliveries;let i = index;let c = count;" class="container mb-3 w-md-50">
    <div *ngIf="incomingOnly" routerLink="/club-members/notifications/deliveries/{{delivery.id}}">
      <!-- Modal Deliveries -->
      <ng-template #content let-modal>
        <div *ngIf="delivery2" class="">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              {{ delivery2.message.createdAt | date: "short" }}
            </h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss((modalSHOW = false))">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mt-3 mt-md-2">
            <div class="card card-profile" style="box-shadow: 0px 2px 5px 0px #888888">
              <div class="d-flex justify-content-center">
                <div class="card-profile-image" style="top:-20pt">
                  <img (click)="modal.dismiss('go to info sender')"
                       routerLink="/club-members/{{ delivery2.idSender }}/info" style="width:100px;height:100px"
                       alt="Image placeholder" [src]="delivery2['profilePicture']" class="avatar-notif"/>
                </div>
              </div>
              <div class="card-body mt-4 container text-center">
                <div class="row">
                  <div class="col-12 d-flex flex-column">
                    <div class="h1">
                      {{ delivery2.name }}
                    </div>
                    <hr class="my-2"/>
                    <div class="font-weight-bold">
                      {{ delivery2.message.subject }}
                    </div>
                    <div class="font-weight-light" [innerHTML]=" delivery2.message.body ">
                    </div>
                  </div>
                  <div class="col-12">
                    <hr class="my-2"/>
                  </div>
                  <div [hidden]="delivery2.message.optionSet == null || delivery2.selectedOptions.length > 0"
                       class="col-12 justify-content-center">
                    <div class="d-flex flex-column flex-md-row justify-content-center">
                      <!-- Button -->
                      <div class="btn border mx-2 mb-2" [title]="list.name" (click)="
                        selectOption(list.name);
                        isActiveOption(delivery2['arrayOptions'])
                      " [ngClass]="{
                        'btn-primary text-light': list['selectedOptionMessage']
                      }"
                           *ngFor="let list of delivery2['arrayOptions'];
                      let i = index
                    ">
                        <div class="d-flex flex-column justify-content-center">
                      <span class="text-truncate">
                        {{ list.name }}
                      </span>
                        </div>
                      </div>

                      <a (click)="putApproval(delivery2['arrayOptions'], delivery2)"
                         class="btn btn-danger btn-lg text-light">
                        <!--*ngIf="list.selectedOptionMessage"-->
                        Respond
                      </a>
                    </div>
                  </div>

                  <div class="col-12" [hidden]="delivery2.selectedOptions.length == 0">
                    <div *ngFor="
                  let list of delivery2['arrayOptions'];
                  let i = index
                " class="">
                      <a
                        (click)="modal.dismiss();"
                        routerLink="/club-members/notifications/message/{{ delivery2.messageId }}/selected-option/{{ list.uuid }}">
                        <label class="">{{list.name}}</label>
                        <div class="progress" style="height: 15px;">
                          <div class="progress-bar" role="progressbar"
                               [style.width]="(list.voted) ? ((parseInt(list.voted)/parseInt(list.totalVotes))*100 + '%') : '0%'"
                               [attr.aria-valuenow]=" list.voted " aria-valuemin="0"
                               aria-valuemax="500">
                            {{(list.voted) ? list.voted : ''}}
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div *ngIf="c > 1" class="modal-footer justify-content-start border">
            <div class="container text-light">
              <div class="row">
                <div class="col-12 col-md-6">
                  <a (click)="
                    delivery2 = deliveries[(i = i - 1)]; open('', delivery2)
                  "
                     *ngIf="i !== 0 && (delivery2.selectedOptions.length > 0 || delivery2['message']['optionSet'] == null)"
                     class="btn btn-info w-100">Prev</a>
                </div>
                <div class="col-12 col-md-6 text-right mt-2 mt-md-0">
                  <a (click)="
                    delivery2 = deliveries[(i = i + 1)]; open('', delivery2)
                  "
                     *ngIf="c - 1 > i && (delivery2.selectedOptions.length > 0 || delivery2['message']['optionSet'] == null)"
                     class="btn btn-danger w-100">Next</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- /.Modal Deliveries -->
      <div class="card py-3 cursor {{ delivery.readAt ? 'unread' : 'readed'  }}">
        <div class="card-content container">
          <div class="row">

            <div class="col-12 d-flex justify-content-center col-md-2">
              <img alt="Image placeholder" class="rounded-circle" style="object-fit: cover; width: 80px; height: 80px;"
                   [src]="delivery.profilePicture"/>
            </div>
            <div class="col-12 col-md-8 pl-mobile-custom">
              <h2 class="font-weight-bold">
                {{delivery.name}}
              </h2>
              <div style="font-size:18px !important;" class="text-truncate">{{delivery.message.subject}}
                <div>
                  <div *ngIf="delivery.message.senderUuid == decoded.im" class="badge badge-pill badge-info">DELIVERED
                  </div>
                </div>

                <div *ngIf="delivery.message.optionSet != null && delivery.message.senderUuid != decoded.im">
                  <div *ngIf="delivery.selectedOptions.length == 0" class="badge badge-pill badge-danger">RSVP</div>
                  <div *ngIf="delivery.selectedOptions.length > 0" class="badge badge-pill badge-success">RESPONDED
                  </div>
                </div>
              </div>

              <div
                class="col-12 col-md-2 d-flex justify-content-md-end justify-content-center align-items-end text-md-right">
                <small class="">{{
                    delivery.message.createdAt | date: "short"
                  }}</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!incomingOnly" routerLink="/club-members/notifications/deliveries/{{delivery.id}}">
      <!--       -->
      <div class="card py-3 read">
        <div class="card-content container">
          <div class="row">
            <div class="col-12 col-md-8 pl-mobile-custom">
              <h2 class="font-weight-bold">
                {{delivery.message.subject}}
              </h2>
              <div style="font-size:18px !important;" class="text-truncate">{{delivery.message.body}}</div>

              <div
                class="col-12 col-md-2 d-flex justify-content-md-end justify-content-center align-items-end text-md-right">
                <small class="">{{
                    delivery.message.createdAt | date: "short"
                  }}</small>
              </div>

              <div *ngFor="let option of delivery.arrayOptions;let i = index;let c = count;"
                   class="btn btn-primary cursor mr-1 mt-1"
                   routerLink="/club-members/notifications/message/{{ delivery.messageId }}/selected-option/{{ option.uuid }}">
                {{option.name}} ({{option.voted}})
                <span [hidden]="option['newResponseCount'] === 0"
                      [innerHTML]="option['newResponseCount'] > 99 ? '99 +' : option['newResponseCount']"
                      class="badge badge-sidebar badge-danger"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
