<div id="infinite-scroller" appInfiniteScroller scrollPercent="50" immediateCallback="true"
  [scrollCallback]="scrollCallback" class="scroll header bg-gradient-danger py-7 pt-md-8 ">
  <div (click)="open(content,delivery)" *ngFor="let delivery of deliveries;let i = index"
    class="container mb-2 w-md-50">
    <div class="card pl-4 pr-1 py-3  {{(delivery.readed) ? 'readed':'unread'}}">
      <div class="row text-center text-md-left card-content">
        <div class="col-12 col-md-2 d-flex justify-content-center">
          <img alt="Image placeholder" class="rounded-circle mr-md-3"
            style="object-fit: cover; width: 80px; height: 80px;" [src]="delivery.profilePicture">
        </div>
        <div class="col-12 col-md-7">
          <h2 class="font-weight-bold">{{delivery.name}}</h2>
          <p style="font-size:18px !important;" class="text-truncate">{{delivery.message.subject}}</p>
        </div>
        <div class="col-12 col-md-3 d-flex justify-content-center align-items-end text-md-right">
          <small class="">{{delivery.message.createdAt | date:'short'}}</small>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Messages</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mt-2">
      <div class="card card-profile" style="box-shadow: 0px 2px 10px -1px #888888">
        <div class="d-flex justify-content-center">
          <div class="card-profile-image" style="top:-20pt">
            <img style="width:100px;height:100px" alt="Image placeholder" [src]="delivery.profilePicture"
              class="avatar-notif rounded-circle">
          </div>
        </div>
        <div class="card-body mt-4 text-center">
          <div class="container">
            <div class="h1">
              {{delivery.name}}
            </div>
            <hr class="my-2">
            <div class="font-weight-bold">
              {{delivery.message.subject}}
            </div>
            <div class="font-weight-light">
              {{delivery.message.body}}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>
