<div
  style="min-height: 500px;background-attachment: fixed; background-image: url(/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: 180px;"
  class="header pb-8 pt-8 pt-md-8 d-flex align-items-center justify-content-center">
  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class=""></div>
  <div class="container-fluid">

    <div class="card">
      <div class="card-body text-center">
        <img style="width: 50%" [src]="qrLink"  alt="">

      </div>
    </div>

  </div>
</div>