th[sortable] {
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}
th[sortable].asc:before  {
    content: '\2193';
    display: block;
    width: 10px;
    float: left;
}
th[sortable].desc:before {
    content: '\2191';
    display: block;
    width: 10px;
    float: left;
}