.icon{
    object-fit: cover;
    object-position: top;
    height: 50pt;
    width: 50pt;
    border-radius: 100%;
}
.navbar-search{
  // position: absolute !important;
  position: fixed;
  top: 20px !important;
  z-index: 2!important;
  right: 200px;
}

@media only screen and (max-width: 768px){
  .mobile-search-btn{
    display: inline-block !important;
    position: fixed !important;
    bottom: 10px !important;
    left: 10px !important;
    i.fas{
      color: rgba(90, 141, 235, 0.822);
      text-shadow: 0px 0px 5px rgb(90, 140, 235)
    }
  }
}

@media only screen and (max-width: 960px){
  .navbar-search{
    right: 120px !important;
  }
}

.loading{
  width: 150px;
}

.text-light{
  color: white !important;
}