<div class="header pb-8 pt-lg-8 pt-md-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div *ngIf="member" class="container mt-6">
    <div class="row d-flex flex-row align-items-center justify-content-between">
      <div class="col-12 col-lg-6 col-md-12 mb-8 ">
        <h1 class="display-2 text-white-no-longer">{{member.personData.name}}</h1>
        <div *ngIf="error" class="alert alert-danger">
          {{error}}
        </div>
        <label *ngIf="success" class="h3 text-white-no-longer">You have successfully sent a message to this person.</label>
        <form *ngIf="!success">
          <hr class="my-4"/>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="form-control-label text-white-no-longer" for="subject">Subject</label>
                <input [(ngModel)]="subject" name="subject" id="subject" class="form-control form-control-alternative" placeholder="An invitation letter from Club" type="text">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="text-white-no-longer form-control-label">Message</label>
            <textarea [(ngModel)]="body" name="body" rows="4" class="form-control form-control-alternative" placeholder="Hello Mr Bean, I am very happy to get to know you. Shall we have a coffee some time together? Yours sincerely."></textarea>
          </div>
          <div class="row text-white-no-longer">
            <div class="col-6"></div>
            <div class="col-6 text-right">
              <button class="btn btn-info " (click)="send()" [disabled]="loading">Send</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-12 col-lg-6 col-md-12 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image" style="top:-20pt;">
                <a (click)="toClubMem()" href="javascript:void(0)">
                  <img [src]="member['profilePicture']" class="avatar">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0 pt-1 pt-md-2 pb-4 pb-md-2 pb-sm-4">
            <div class="d-flex justify-content-center mt-8 mb-0">
              <a hidden href="javascript:void(0)" class="btn btn-sm btn-info mr-4">Connect</a>
              <a hidden href="javascript:void(0)" class="btn btn-sm btn-default">Send Email</a>
            </div>
          </div>
          <div class="card-body ml-2">
            <div class="container-fluid text-center" style="margin-top: -50pt;">
              <h1 class="font-weight-bold">
                {{member.personData.name}}<span class="font-weight-light">, 27</span>
              </h1>
              <div class="h2 mt-2">
                {{member.personData.jobTitle}}
              </div>
              <div class="h2">
                {{member.personData.employerName}}
              </div>
              <hr class="my-3" />
              <!-- <p style="visibility: hidden;">Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and
                records
                all of his own music.</p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
