<div
  class="header pb-8 pt-lg-8 pt-md-8 d-flex align-items-center"
  style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;"
>
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <div class="container w-100 w-md-75 mt-8 mt-md-auto">
    <div class="row d-flex flex-row align-items-center justify-content-between">
      <div class="col-12">
        <dts-select-container
          #container="dts-select-container"
          [(selectedItems)]="optionDragModule.selectedItems"
          (select)="dragMethod($event)"
        >
          <ul>
            <li [dtsSelectItem]="document" *ngFor="let document of documents">
              {{ document.name }}
            </li>
          </ul>
        </dts-select-container>
      </div>
    </div>
  </div>
</div>
