<div class="header pb-8 pt-6 pt-md-8 d-flex align-items-center"
  style="min-height: 400px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div *ngIf="!notFoundMember" class="container">
    <div class="row justify-content-center mt-6">
      <div class="col-12 col-lg-5 col-xl-5 col-md-8 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image" style="top:-20pt;">
                <a href="javascript:void(0)">
                  <img id="img" (click)="snapID === imId ? upload.click() : goHome()" [src]="members.profilePicture"
                    class="avatar" />
                  <input id="fileUpload" (change)="
                      uploadProfilePicture(
                        $event,
                        members.profilePictureWriteForm
                      )
                    " #upload class="d-none" type="file" />

                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0  mt-7 mt-sm-7 pt-md-4">
            <div class="badge bg-success text-light mb-2">{{members?.alternateName}}</div>
            <div [ngClass]="{ 'd-none': id === imId }" class="">
              <a routerLink="/club-members/{{ members['@id'] }}/send-email">
                <div href="javascript:void(0)" class="btn btn-sm btn-default">
                  Send Email
                </div>
              </a>
            </div>
          </div>
          <div class="card-body text-center" style="margin-top: -25pt">
            <div class="container">
              <!-- Name -->
              <div *ngIf="members.person?.name" class="">
                <h1 *ngIf="name.hidden" class="font-weight-bold">
                  {{ members.person?.name }}
                  <a *ngIf="id === imId" (click)="name.hidden=!name.hidden;formEdit.name=members.person?.givenName"
                    class="icon fas fa-pen">
                  </a>
                </h1>
                <div #name hidden="true" class="form-group">
                  <div class="d-flex">
                    <input class="form-control" [(ngModel)]="formEdit.name" type="text">
                    <a (click)="editInfo(formEdit, name, members?.person,members?.person['@id'])"
                      class="btn btn-primary ml-2 text-light">Submit</a>
                  </div>
                  <a (click)="name.hidden=!name.hidden" class="btn btn-danger mt-2 text-light">Cancel</a>
                </div>
              </div>
              <!-- Dob -->
              <div class="h2">
                {{ members.person?.birthDate | date }}
              </div>
              <!-- Job -->
              <div *ngIf="members.person?.jobTitle" class="">
                <h1 *ngIf="jobTitle.hidden" class="h2 mt-4">
                  {{ members.person?.jobTitle }}
                  <a *ngIf="id === imId"
                    (click)="jobTitle.hidden=!jobTitle.hidden;formEdit.job=members.person?.jobTitle"
                    class="icon fas fa-pen">
                  </a>
                </h1>
                <div #jobTitle hidden="true" class="form-group">
                  <div class="d-flex">
                    <input class="form-control" [(ngModel)]="formEdit.job" type="text">
                    <a (click)="editInfo(formEdit,jobTitle, members.personData)"
                      class="btn btn-primary ml-2 text-light">Submit</a>
                  </div>
                  <a (click)="jobTitle.hidden=!jobTitle.hidden" class="btn btn-danger mt-2 text-light">Cancel</a>
                </div>
              </div>
              <!-- Employer Name -->
              <div *ngIf="members.person?.employerName" class="">
                <h1 *ngIf="employer.hidden" class="h2">
                  {{ members.person?.employerName }}
                  <a *ngIf="id === imId"
                    (click)="employer.hidden=!employer.hidden;formEdit.employerName=members.person?.employerName"
                    class="icon fas fa-pen">
                  </a>
                </h1>
                <div #employer hidden="true" class="form-group">
                  <div class="d-flex">
                    <input class="form-control" [(ngModel)]="formEdit.employerName" type="text">
                    <a (click)="editInfo(formEdit,employer,member.personData)"
                      class="btn btn-primary ml-2 text-light">Submit</a>
                  </div>
                  <a (click)="employer.hidden=!employer.hidden" class="btn btn-danger mt-2 text-light">Cancel</a>
                </div>
              </div>
              <!-- Phone -->
              <div *ngIf="members.person?.phone" class="">
                <h1 *ngIf="phone.hidden" class="h2">
                  {{ members.person?.phone }}
                  <a *ngIf="id === imId" (click)="phone.hidden=!phone.hidden;formEdit.phone=members.person?.phone"
                    class="icon fas fa-pen">
                  </a>
                </h1>
                <div #phone hidden="true" class="form-group">
                  <div class="d-flex">
                    <input class="form-control" [(ngModel)]="formEdit.phone" type="text">
                    <a (click)="editInfo(formEdit,phone,members.personData)"
                      class="btn btn-primary ml-2 text-light">Submit</a>
                  </div>
                  <a (click)="phone.hidden=!phone.hidden" class="btn btn-danger mt-2 text-light">Cancel</a>
                </div>
              </div>
              <!-- Email -->
              <div *ngIf="members.person?.email" class="">
                <h1 *ngIf="email.hidden" class="h2">
                  {{ members.person?.email }}
                  <a *ngIf="id === imId" (click)="email.hidden=!email.hidden;formEdit.email=members.person?.email"
                    class="icon fas fa-pen">
                  </a>
                </h1>
                <div #email hidden="true" class="form-group">
                  <div class="d-flex">
                    <input class="form-control" [(ngModel)]="formEdit.email" type="text">
                    <a (click)="editInfo(formEdit, email, members.personData)"
                      class="btn btn-primary ml-2 text-light">Submit</a>
                  </div>
                  <a (click)="email.hidden=!email.hidden" class="btn btn-danger mt-2 text-light">Cancel</a>
                </div>
              </div>
              <hr class="my-4" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="notFoundMember" class="container">
    <div class="text-center display-4 card">
      <div class="card-body">
        {{ notFoundMember }}
      </div>
    </div>
  </div>
  <div class="h1"></div>
</div>