<div class="header pb-8 pt-5 pt-md-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container">
    <div class="row text-center">
      <div class="col col-md-12">
        <h1 *ngFor="let member of members" class="display-2 text-white">{{member.personData.name}}</h1>
      </div>
    </div>
    <div *ngFor="let member of members" class="row justify-content-center mt-6">
      <div class="col-12 col-lg-5 col-xl-5 col-md-8 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a (click)="toClubMem()" href="javascript:void(0)">
                  <img [src]=member.profilePicture class="rounded-circle">
                </a>
              </div>
            </div>
          </div>
          <div class="card-header text-center border-0  mt-7 mt-sm-7 pt-md-4">
            <div class="d-flex justify-content-center">
              <div [hidden]="id == im_ID" href="javascript:void(0)" class="btn btn-sm btn-default">Message</div>
            </div>
          </div>
          <div class="card-body ml-2">
            <div class="d-flex flex-column text-center ">
              <h1 class="font-weight-bold">
                {{member.personData.name}}<span class="font-weight-light">, 27</span>
              </h1>
              <div class="h2 mt-2">
                {{member.personData.jobTitle}}
              </div>
              <div class="h2">
                {{member.personData.employerName}}
              </div>
              <hr class="my-4" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>