.avatar{
    object-fit: cover;
    object-position: top;
    height: 135pt;
    width: 135pt;
    border-radius: 100%;
}
.pt-md-8{
  margin-top: 35px !important;
}
.icon{
  font-size: 20px !important;
  height: 0px !important;
  width: 0px !important;
}
.text-light{
  color: white !important;
}