<div *ngIf="delivery" style="height: 100vh" class="scroll header bg-gradient-danger ">
  <div class="container-fluid w-mobile m-auto w-desktop">
    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Messages</h4>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="card card-profile" style="box-shadow: 0px 2px 10px -1px #888888">
      <div class="d-flex justify-content-center">
        <div class="card-profile-image" style="top:-20pt">
          <img [routerLink]="['/club-members']" style="width:100px;cursor: pointer;height:100px" alt="Image placeholder"
            [src]="delivery.profilePicture" class="avatar-notif">
        </div>
      </div>
      <div class="card-body mt-4 text-center">
        <div class="container">
          <div class="h1">
            {{delivery.name}}
          </div>
          <hr class="my-2">
          <div class="font-weight-bold">
            {{delivery.message.subject}}
          </div>
          <div class="font-weight-light">
            {{delivery.message.body}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
