<div class="a-job text-left my-4">
  <div class="job-action">
    <div *ngIf="!selected" (click)="writeValue(true)">
        <i class="green ni ni-fat-add"></i>
        <div>ADD</div>
    </div>
    <div *ngIf="selected" (click)="writeValue(false)">
        <i class="red ni ni-fat-delete"></i>
        <div>REM</div>
    </div>
  </div>
  <div class="job-description">
    <button type="button" (click)="expanded = !expanded" class="btn btn-block {{expanded ? 'btn-info' : ''}}">{{name}}</button>
    <div *ngIf="expanded" class="card">
      <div class="card-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>