.nav-item {
  cursor: pointer;
}

.ic {
  top: 0pt;
}
.ni > .ni-bell:active {
  color: blue !important;
}
.badge-sidebar{
  left: -10pt !important;
}
.badge-sidebar-2{
  top: -34pt !important;
  // left: 0pt !important;
  left: 160pt !important;
}
@media only screen and (max-width: 750px){
  .badge-sidebar-2{
    left: 155pt !important;
  }
}
.badge-danger {
  background: red;
  position: relative;
  top: -9pt;
  left: 10pt;
  color: white;
  border-radius: 20% !important;
  font-size: 7pt;
}
.badge-danger:hover {
  cursor: default;
}

.avatar-user {
  object-fit: cover !important;
  height: 35pt !important;
  width: 35pt !important;
  cursor: pointer !important;
  border-radius: 100%;
}

.unread {
  background-color: #edf2fa;
}
.read {
  background-color: white;
}

:host /deep/ .modal-dialog {
  background-color: red !important;
}

.dropdown-menu-lg {
  width: 100% !important;
}

ngx-select-dropdown {
  /deep/ .selected-items li{
    display: flex !important;
    align-items: center;
    /deep/ .nsdicon-close{
      margin-right: 10px !important;
    }
  }
  margin-bottom: 10px !important;
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.text-light{
  color: white !important;
}
.btn{
  white-space: normal !important;
}
.avatar-notif{
  object-fit: cover !important;
  width: 50px !important;
  height:50px !important;
}