/* You can add global styles to this file, and also import other style files */

body {
  overflow-x: hidden;
}

.btn-light {
  color: black !important;
}

ul > li {
  list-style-type: none;
}

.ngb-tp {
  justify-content: center;
}
